{% extends 'base.html' %} <!-- bootstrap -->

{%block head_title %} 
This is amazing!!!!!!!!!
{% endblock head_title %}


{% block content %} <!-- bootstrap -->
<div class='row text-center'>
    <div class="col">
        <h1>Welcome to Tweetme</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
        <form class="form" id="tweet-create-form" method="POST" action="/create-tweet">
            {% csrf_token %}
            <!-- Handle Error -->
            <div class = "d-none alert alert-danger" id="tweet-create-form-error"></div>
            <input type="hidden" value="/" name="next">
            <textarea required="required" class="form-control" name="content" placeholder="Your tweet..."></textarea>
            <button type='submit' class="btn btn-primary">Tweet</button>
        </form>
    </div>
</div>


<div class='row' id="tweets">
<!-- replace w JS-->
   Loading....
</div>


<script>

    function handleTweetFormError(msg, display){
        var myErrorDiv = document.getElementById("tweet-create-form-error")
        if(display === true){
            // show error
            myErrorDiv.setAttribute("class", "d-block alert alert-danger")
            myErrorDiv.innerText = msg

        }else{
            // hide error
            myErrorDiv.setAttribute("class", "d-none alert alert-danger")
        }
    }

    function handleTweetCreateFormDidSubmit(event){
        event.preventDefault()

        const myForm = event.target

        //FormData is a built in js class 
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")
        const xhr = new XMLHttpRequest()
        xhr.responseType = 'json'
        xhr.open(method,url)

        //Handling AJAX
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")

        xhr.onload = function(){
            if(xhr.status === 201){
                // Handle Error. Reset if no error on retry
                handleTweetFormError("", false)
                const newTweet = xhr.response
                const newTweetElement = formatTweetElement(newTweet)
                const ogHtml = tweetsEl.innerHTML
                tweetsEl.innerHTML = newTweetElement + ogHtml
                
                //clear form
                myForm.reset()
            }else if (xhr.status === 400){
                const errorJson= xhr.response
                const contentError = errorJson.content
                let contentErrorMsg;
                if(contentError){
                    contentErrorMsg = contentError[0]
                    if(contentErrorMsg){
                        // Handle Error
                        handleTweetFormError(contentErrorMsg, true)
                    }else{
                        alert("An errr occured. Please try again.")
                    }
                }else{
                    alert("An errr occured. Please try again.")
                }
            }else if(xhr.status === 401){ //You could also put a range of status errors
                alert("You must log in!")
                window.location.href = '/login'
            }else if(xhr.status === 500){ //You could also put a range of status errors
                alert("There was a server error")
            }
        }
        xhr.onerror = function(){
            alert("An error has occured. Please try again.")
        }
        xhr.send(myFormData)
        console.log(myForm)
        
    }

    const tweetCreateForm = document.getElementById("tweet-create-form")

    tweetCreateForm.addEventListener("submit", handleTweetCreateFormDidSubmit )

    //tweetsEl = tweetsContainerElement {in the video}
    // Replace with JS
    const tweetsEl = document.getElementById('tweets')
    // tweetsElement.innerHTML = 'Loading...'

    function loadTweets(tweetsElement){
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = '/tweets'
        const responseType = 'json'

        //Lets xhr request know it's getting json back
        xhr.responseType = responseType
        xhr.open(method,url)
        //What gets created when the function triggers
        xhr.onload = function (){

            const serverResponse = xhr.response
            var listedItems = serverResponse.response //array
            var finalTweetStr = ""
            var i
            
            for(i=0; i< listedItems.length; i++){
                finalTweetStr += formatTweetElement(listedItems[i])
            } 

            tweetsElement.innerHTML = finalTweetStr
        }
 //triggers the request
        xhr.send()
    }
loadTweets(tweetsEl)
    //List View ------- Moved to loadTweets
// const xhr = new XMLHttpRequest()
// const method = 'GET'
// const url = '/tweets'
// const responseType = 'json'

//Handle like
function handleDidLike(tweet_id, currentCount){
    console.log(tweet_id, currentCount)
}

//Create Like Button
function likeBtn(tweet){
    return "<button class='btn btn-primary btn-sm' onclick=handleDidLike(" + tweet.id +
     "," + tweet.likes+ ")>"+tweet.likes+" Likes</button>"
}


//Format string function
function formatTweetElement(tweet){
   var formattedTweet =  '<div class="col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet" id="tweet-'+ tweet.id +'"">' 
            + '<p>' + tweet.content +
                
                "</p><div class='btn-group'>" + likeBtn(tweet) +
                
                '</div></div>'

    return formattedTweet
}


// //Lets xhr request know it's getting json back
// xhr.responseType = responseType 

// xhr.open(method,url)
// //What gets created when the function triggers
// xhr.onload = function (){
//     //console.log(xhr.response)
//     const serverResponse = xhr.response
//     var listedItems = serverResponse.response //array
//     var finalTweetStr = ""
//     var i
//     // finalTweetStr +='<ul>'
//     for(i=0; i< listedItems.length; i++){
//         // console.log(listedItems[i].content)
//         // finalTweetStr += '<li>' + listedItems[i].content + '</li>'
//         // finalTweetStr += '<div class="mb-4"><h1>' 
//         //     + listedItems[i].id + '</h1><p>' + listedItems[i].content + '</p></div>'
//         finalTweetStr += formatTweetElement(listedItems[i])
//     } 

//     // finalTweetStr += '</ul>'
//     //finalTweetStr.append(listedItems[i].content)
//     // console.log(listedItems)
//     // console.log(finalTweetStr + " the list")

//     tweetsElement.innerHTML = finalTweetStr

// }
// //triggers the request
// xhr.send()

</script>
{% endblock content %}