{% extends 'base.html' %} <!-- bootstrap -->

{%block head_title %} 
This is amazing!!!!!!!!!
{% endblock head_title %}


{% block content %} <!-- bootstrap -->
Welcome to Tweetme

<div id="tweets">
<!-- replace w JS-->
   Loading....
</div>


<script>

    // Replace with JS
    const tweetsElement = document.getElementById('tweets')
    // tweetsElement.innerHTML = 'Loading...'

    //List View
const xhr = new XMLHttpRequest()
const method = 'GET'
const url = '/tweets'
const responseType = 'json'

//Handle like
function handleDidLike(tweet_id, currentCount){
    console.log(tweet_id, currentCount)
}

//Create Like Button
function likeBtn(tweet){
    return "<button class='btn btn-primary btn-sm' onclick=handleDidLike(" + tweet.id +
     "," + tweet.likes+ ")>"+tweet.likes+" Like</button>"
}


//Format string function
function formatTweetElement(tweet){
   var formattedTweet =  '<div class="mb-4 tweet" id="tweet-'+ tweet.id +'"">' 
            + '<p>' + tweet.content +
                
                "</p><div class='btn-group'>" + likeBtn(tweet) +
                
                '</div></div>'

    return formattedTweet
}


//Lets xhr request know it's getting json back
xhr.responseType = responseType 

xhr.open(method,url)
//What gets created when the function triggers
xhr.onload = function (){
    //console.log(xhr.response)
    const serverResponse = xhr.response
    var listedItems = serverResponse.response //array
    var finalTweetStr = ""
    var i
    // finalTweetStr +='<ul>'
    for(i=0; i< listedItems.length; i++){
        // console.log(listedItems[i].content)
        // finalTweetStr += '<li>' + listedItems[i].content + '</li>'
        // finalTweetStr += '<div class="mb-4"><h1>' 
        //     + listedItems[i].id + '</h1><p>' + listedItems[i].content + '</p></div>'
        finalTweetStr += formatTweetElement(listedItems[i])
    } 

    // finalTweetStr += '</ul>'
    //finalTweetStr.append(listedItems[i].content)
    // console.log(listedItems)
    // console.log(finalTweetStr + " the list")

    tweetsElement.innerHTML = finalTweetStr

}
//triggers the request
xhr.send()

</script>
{% endblock content %}